body {
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2rem;
}

.blackNavTitle {
    display: flex;
    line-height: 5rem;
    padding: 0 2rem;
    border-bottom: 1px solid #ddd;
}

.writePostForm {
    margin: 1rem 0 0 2rem;
}

.post {
    .titleCategory {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;

        h2 {
            margin-bottom: 1rem;
            font-size: 2rem;
        }
        .sortByTitle {
            font-size: 0.8rem;
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    ul {
        margin-bottom: 3rem;

        .list {
            padding: 1rem 0;
            border-bottom: 1px solid #000;

            .titleBox {
                display: flex;

                h3 {
                    display: flex;
                    cursor: pointer;
                    &:hover {
                        color: #777;
                    }
                }
                .buttonBox {
                    display: flex;
                    margin-left: auto;

                    button {
                        border: 1px solid #ddd;
                        cursor: pointer;

                        &:hover {
                            color: red;
                        }
                        &:active {
                            color: #000;
                        }
                    }
                    .remove {
                        margin-left: 0.5rem;
                    }
                }
            }

            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .modal {
        padding: 1rem;
        background: rgb(240, 240, 240);
        h4 {
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        .date {
            margin-bottom: 1rem;
        }
        .content {
            margin-bottom: 1rem;
        }

        .postTitle {
            font-weight: 500;
        }
        .changeWordBox {
            & button {
                padding: 0 1rem;
                cursor: pointer;
                border: 1px solid #000;

                &:hover {
                    color: red;
                }
                &:active {
                    color: #000;
                }
            }
        }
    }
}
